:root {
  --siteMaxWidth: 1400px;
  --sitePadding: 2rem;

  --coreFont: serif; /* Include fallbacks*/

  --clrPrimary: #ff0000;
  --clrSecondary: #000;
  --clrText: #000;
  --clrBg: #ffffff;
  --clrBgLight: #eeeeee;
  --clrBorder: #3b3b3b;

  --keyWidth: 3.5rem;
  --keyWhite: oklch(96.9% 0.0053 106.5);
  --keyWhiteShadow: oklch(from var(--keyWhite) calc(l - 0.05) c h);
  --keyWhiteBorder: oklch(from var(--keyWhite) calc(l - 0.7) calc(c + 0.01) calc(h + 1));

  --keyBlack: oklch(7.06% 0.0145 82.32);
  --keyBlackShine: oklch(25.65% 0.004 84.58);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red !important; */
}
html {
  font-family: var(--coreFont);
  font-size: 62.5%;
  color: var(--clrText);
  background-color: var(--clrBg);
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  font-size: 1.6rem;
}
#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100dvh;
  padding: 0 var(--sitePadding);
}
main {
  flex-grow: 1;
}
/* DEFAULTS */
button {
  display: block;
  border: none;
  outline: none;
}
button:not(:disabled) {
  cursor: pointer;
}

/* PIANO */
#piano-keys {
  position: relative;
  display: flex;
  overflow-x: scroll;
  border: 1px solid black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
  -webkit-user-drag: none;
  user-drag: none;
  outline: none;
}
#piano-keys > button {
  flex-shrink: 0;
}
.key {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.key-core {
  flex-grow: 1;
}
.key-white {
  width: var(--keyWidth);
  height: calc(var(--keyWidth) * 6);
  color: black;
  background-color: var(--keyWhiteShadow);
  border-top: calc(var(--keyWidth) * 0.1) solid var(--clrPrimary);
  border-right: 1px solid var(--keyWhiteBorder);
  border-left: 1px solid var(--keyWhiteBorder);
}
.key-white .key-core {
  border-radius: 0 0 0.4rem 0.4rem;
  background: var(--keyWhite);
  box-shadow: 0 0.2rem 0.2rem oklch(from var(--keyWhiteBorder) l c h / 0.1);
}
.key-white .key-bottom {
  height: 10%;
  transition: height 0.05s ease-in;
  z-index: -1;
}
.key-white.playing .key-bottom {
  height: 2%;
}
.key-black {
  position: absolute;
  top: 0;
  width: calc(var(--keyWidth) * 0.6);
  height: calc(var(--keyWidth) * 4);
  color: #fff;
  background-color: var(--keyBlack);
  z-index: 1;
}
.key-black .key-core {
  background-color: var(--keyBlack);
}
.key-black .key-bottom {
  height: 20%;
  background-color: blue;
}
.playing .key-core {
  /* background-color: var(--clrPrimary) !important; */
}
